extends ../base
include ../mixins/video

block content
    h3 #{video.views === 1 ? `${video.views} view` : `${video.views} views`} 
    
    ul
        if video
            +video(video)
        else
            p Not Found
        small Created by #{owner.username}
        br
        if loggedInUser && ( String(video.owner) === String(loggedInUser._id) ) 
            a(href=`${video.id}/edit`) Edit Video &rarr;
            br
            a(href=`${video.id}/delete`) Delete Video &rarr;
            br
            a(href="/") Home &rarr;
