mixin video(video)
    a(href=`/videos/${video.id}`).video-mixin
        img.video-mixin__thumb(src=video.thumbUrl crossorigin)
        //- video(src=`/${video.videoUrl}` )
        div.video-mixin__data
            span.video-mixin__title=video.title
            div.video-mixin__meta
                span #{video.owner.name} • 
                span #{video.meta.views} views
        
        //- p=video.description
        //- small=video.createdAt
        //- br
        //- small Created by 
        //-     a(href=`/users/${video.owner._id}`) #{video.owner.username || user.username}
        //- ul 
        //-     each hashtag in video.hashtags
        //-         li=hashtag
        //- hr